@media (max-width: 1220px) {
  /* header */

  /* hero */
  .hero {
    grid-template-columns: 1fr;
  }

  .hero-img-box {
    grid-row: 1;
    width: 75%;
    margin: 0 auto;
  }
  /* featured */
  .featured-logo {
    width: 15%;
  }

  /* how */

  /* meals */

  /* testimonials */

  /* pricing */
  .plan-complete::after {
    top: 7.5%;
    right: -37%;
  }

  /* cta */

  /* footer */
}

@media (max-width: 1100px) {
  /* header */

  /* hero */
  .hero-text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* featured */
  .featured-logo {
    width: 15%;
  }

  /* how */
  .how-boxes {
    grid-template-columns: 1fr;
    padding-top: 5.2rem;
    margin: 0 12.8rem;
  }

  .step-img {
    width: 20%;
  }

  .how-box-1 {
    grid-row: 2;
  }

  .how-box-6 {
    grid-row: 5;
  }

  /* meals */
  .meals-boxes {
    grid-template-columns: 1fr;
    width: 50%;
  }

  .meal-types {
    text-align: center;
    justify-self: center;
  }

  .diets-box .heading-tertiary {
    text-align: center;
  }

  /* testimonials */

  .testimonials {
    grid-template-columns: 1fr;
  }

  .testimonials-gallery {
    grid-template-columns: 1fr 1fr;
  }

  /* pricing */
  .plan-box {
    grid-template-columns: 1fr;
  }

  .pricing-plan {
    width: 40%;
    justify-self: center;
  }

  .plan-complete::after {
    top: 8%;
    right: -35%;
  }

  .features {
    grid-template-columns: 1fr 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }

  /* cta */
  .cta-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .cta-img-box {
    grid-row: 1;
  }

  .section-cta .container {
    padding: 0 15rem;
  }

  .cta-form-grid {
    grid-template-columns: 1fr;
  }

  /* footer */
  .footer-cols {
    grid-template-columns: repeat(6, 1fr) !important;
    grid-template-rows: repeat(2, 1fr);
    padding: 0 20rem;
  }
  .footer-cols .logos {
    grid-column: 2 / 4;
  }
  .footer-cols .social {
    /* width: 4.8rem; */
    height: 8rem;
  }
  .footer-cols .contacts {
    grid-column: 4 / 6;
  }
  .footer-cols .account-col {
    grid-row: 1;
    grid-column: span 2;
  }
  .footer-cols .company-col {
    grid-row: 1;
    grid-column: span 2;
  }
  .footer-cols .recipes-col {
    grid-row: 1;
    grid-column: span 2;
  }
}

@media (max-width: 1000px) {
  /* header */

  /* hero */

  /* featured */

  /* how */

  /* meals */

  /* testimonials */
  .section-testimonials {
    grid-template-columns: 1fr;
  }
  .testimonials {
    grid-template-columns: repeat(2, 1fr);
  }
  .testimonials-gallery {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  /* pricing */
  .plan-complete::after {
    top: 7%;
    right: -40%;
  }

  /* cta */
  .cta-form-grid {
    grid-template-columns: 1fr;
  }

  /* footer */
}

@media (max-width: 990px) {
  /* pricing */
  .plan-complete::after {
    top: 7%;
    right: -40%;
  }
}

@media (max-width: 900px) {
  /* header */
  .heading-primary {
    font-size: 4.8rem;
    letter-spacing: -0.1px;
  }

  .heading-secondary {
    font-size: 3.6rem;
    letter-spacing: -0.1px;
  }
  /* hero */

  /* featured */

  /* how */

  /* meals */

  /* testimonials */

  /* pricing */
  .pricing-plan {
    width: 50%;
    justify-self: center;
  }

  .plan-complete::after {
    top: 8%;
    right: -35%;
  }

  /* cta */

  /* footer */
}

@media (max-width: 800px) {
  /* header */

  /* hero */

  /* featured */

  /* how */

  /* meals */
  .delivered-meals {
    display: grid;
    grid-template-columns: 1fr;
  }

  .meals-boxes {
    width: 80%;
  }

  /* testimonials */
  .testimonials {
    grid-template-columns: 1fr;
    padding: 0 4.8rem;
  }

  /* pricing */
  .plan-price {
    font-size: 5.2rem;
  }
  .plan-price span {
    font-size: 3.6rem;
  }

  .plan-complete::after {
    top: 7%;
    right: -42%;
  }

  .included {
    padding: 0 8.6rem;
  }

  /* cta */
  .section-cta .container {
    padding: 0 3.2rem;
  }

  /* footer */
  .footer-cols {
    padding: 0 6.2rem;
  }
}

@media (max-width: 770px) {
  /* header */

  /* hero */

  /* featured */

  /* how */

  /* meals */
  .delivered-meals {
    display: grid;
    grid-template-columns: 1fr;
  }

  .meals-boxes {
    width: 80%;
  }

  /* testimonials */
  .testimonials {
    grid-template-columns: 1fr;
    padding: 0 4.8rem;
  }

  /* pricing */
  .pricing-plan {
    width: 60%;
    justify-self: center;
  }

  .plan-price {
    font-size: 5.2rem;
  }
  .plan-price span {
    font-size: 3.6rem;
  }

  .plan-complete::after {
    top: 7%;
    right: -42%;
  }

  .included {
    padding: 0 8.6rem;
  }

  /* cta */
  .section-cta .container {
    padding: 0 3.2rem;
  }

  /* footer */
  .footer-cols {
    padding: 0 6.2rem;
  }
}

@media (max-width: 750px) {
  .pricing-plan {
    width: 70%;
    justify-self: center;
  }

  .plan-complete::after {
    top: 7%;
    right: -35%;
  }
}

@media (max-width: 700px) {
  /* header */

  /* hero */

  /* featured */

  /* how */

  /* meals */
  .meals-boxes {
    width: 80%;
  }

  /* testimonials */

  /* pricing */

  .pricing-plan {
    width: 70%;
    justify-self: center;
  }

  .plan-complete::after {
    top: 8%;
    right: -39%;
  }

  .included {
    padding: 0 8.6rem;
  }

  .features {
    grid-template-columns: 1fr;
  }

  /* cta */

  /* footer */
}

@media (max-width: 650px) {
  /* header */

  /* hero */

  /* featured */

  /* how */
  .how-boxes {
    margin: 0 4.4rem;
  }

  /* meals */

  /* testimonials */

  /* pricing */
  .pricing-plan {
    width: 70%;
    justify-self: center;
  }

  .plan-complete::after {
    padding: 0.4rem 10rem;
    top: 7%;
    right: -25%;
  }

  .included {
    padding: 0 8.6rem;
  }

  /* cta */

  /* footer */
}

@media (max-width: 600px) {
  /* header */

  /* hero */

  /* featured */

  /* how */
  .how-boxes {
    margin: 0 4.4rem;
  }

  /* meals */

  /* testimonials */

  /* pricing */
  .pricing-plan {
    width: 80%;
    justify-self: center;
  }

  .plan-complete::after {
    padding: 0.4rem 10rem;
    top: 7%;
    right: -25%;
  }

  .included {
    padding: 0 3.6rem;
  }

  /* cta */

  /* footer */
}

@media (max-width: 540px) {
  /* how */
  /* .how-boxes {
    margin: 0 4.4rem;
  } */

  /* meals */

  /* testimonials */

  /* pricing */
  .pricing-plan {
    width: 80%;
    justify-self: center;
  }

  .plan-complete::after {
    padding: 0.4rem 10rem;
    top: 7%;
    right: -25%;
  }

  .included {
    padding: 0 3.6rem;
  }

  /* cta */

  /* footer */
  .footer .grid {
    padding: 0 3rem;
    gap: 1.6rem;
  }

  .footer .logos {
    grid-column: 1 / 4;
  }

  .footer .contacts {
    grid-column: 4 / -1;
  }
}

@media (max-width: 532px) {
  /* how */
  /* .how-boxes {
    margin: 0 4.4rem;
  } */

  /* meals */

  /* testimonials */

  /* pricing */
  .pricing-plan {
    width: 90%;
    justify-self: center;
  }

  .plan-complete::after {
    padding: 0.4rem 10rem;
    top: 7%;
    right: -25%;
  }

  .included {
    padding: 0 3.6rem;
  }

  /* cta */

  /* footer */
  .footer .grid {
    padding: 0 3rem;
    gap: 1.6rem;
  }

  .footer .logos {
    grid-column: 1 / 4;
  }

  .footer .contacts {
    grid-column: 4 / -1;
  }
}

@media (max-width: 529px) {
  /* how */
  /* .how-boxes {
    margin: 0 4.4rem;
  } */

  /* meals */

  /* testimonials */

  /* pricing */
  .pricing-plan {
    width: 80%;
    justify-self: center;
  }
  d .plan-complete::after {
    padding: 0.4rem 10rem;
    top: 7%;
    right: -25%;
  }

  .included {
    padding: 0 3.6rem;
  }

  /* cta */

  /* footer */
  .footer .grid {
    padding: 0 3rem;
    gap: 1.6rem;
  }

  .footer .logos {
    grid-column: 1 / 4;
  }

  .footer .contacts {
    grid-column: 4 / -1;
  }
}

@media (max-width: 500px) {
  /* how */
  /* .how-boxes {
    margin: 0 4.4rem;
  } */

  /* meals */

  /* testimonials */

  /* pricing */
  .pricing-plan {
    width: 90%;
    justify-self: center;
  }
  d .plan-complete::after {
    padding: 0.4rem 10rem;
    top: 7%;
    right: -25%;
  }

  .included {
    padding: 0 3.6rem;
  }

  /* cta */

  /* footer */
  .footer .grid {
    padding: 0 3rem;
    gap: 1.6rem;
  }

  .footer .logos {
    grid-column: 1 / 4;
  }

  .footer .contacts {
    grid-column: 4 / -1;
  }
}
