/* 1350 / 16 = 84em */

/* @media (max-width: em){ */
/* header */

/* hero */

/* featured */

/* how */

/* meals */

/* testimonials */

/* pricing */

/* cta */

/* footer */
/* } /* 



/* BELOW 1344px (smaller desktops) */
@media (max-width: 84em) {
  /* header */

  /* hero */
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }

  /* featured */

  /* how */

  /* meals */

  /* testimonials */
  .testimonials-gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  /* pricing */

  /* cta */

  /* footer */
}

/* BELOW 1200px (landscape tablets) */
@media (max-width: 75em) {
  html {
    /* 10/16 = 62.5% */
    /* 9/16 =  56.25% */
    font-size: 56.25%;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
    /* margin-bottom: 2.4rem; */
  }

  .grid {
    /* display: grid; */
    row-gap: 6.4rem;
    column-gap: 4.8rem;
  }

  /* header */
  .header {
    padding: 0 3.2rem;
  }

  .header-nav {
    gap: 3.2rem;
  }

  /* hero */
  .hero {
    gap: 4.8rem;
  }

  /* featured */

  /* how */

  /* meals */

  /* testimonials */
  .testimonials-box {
    padding: 9.6rem 3.2rem;
  }

  .testimonials-gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  /* pricing */

  /* cta */

  /* footer */
}

/* BELOW 1040px  (Tablets */
@media (max-width: 65em) {
  /* header */
  .header-nav {
    position: absolute;
    background-color: rgba(255,255, 255, 0.9);
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    transform: translateX(100vw); /* or translateX(100%) */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    /* hiding an element by not using display: none;*/
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .btn-mobile-nav {
    display: block;
  }

  .menu-open .header-nav{
    opacity: 1; /* to make it visible on the website */
    pointer-events: auto; /* to allow pointer events */
    visibility: visible; /* to make it visible to application readers */
    transform: translateX(0); /* to move the menu from right to left: 0 */
  }

  .header-nav a:link{
    font-size: 3rem;
  }

  .menu-open .icon-mobile-nav[name="close"] {
    display: block;
  }

  .menu-open .icon-mobile-nav[name="menu"] {
    display: none;
  }

   /* hero */
  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem
  }

  .hero-text-box,
  .hero-img-box {
    text-align: center;
  }

  .hero-text-box {
    width: 80%;
    margin:0 auto;
  }

  .delivered-meals {
    justify-content: center;
    margin-top: 3.2rem;
  }

  .hero-img {
    width: 75%;
  }
  

  /* featured */
  .featured-logo {
    height: 2.4rem;
  }
  
  /* how */
  .how-boxes {
    gap: 4.8rem;
    margin-top: 6.4rem;
  }

  /* meals */
  .meal-details {
    padding: 2.4rem 3.2rem 4.8rem 3.2rem;
  }
  
  /* testimonials */
  .section-testimonials {
    grid-template-columns:1fr;
  }

  .testimonials-gallery{
    grid-template-columns: repeat(6, 1fr);
  }
  
  /* pricing */
  .list-item{
    line-height: 1.2;
  }

  .plan-complete::after {
    top: 6%;
    right: -46%;
  }

  /* cta */
  .cta-grid {
    grid-template-columns: 60fr 40fr;
  }

  .cta-form-grid {
    grid-template-columns: 1fr;
  }

  .cta-form-grid{
  gap: 2.4rem;
  }

  .heading-secondary{
    margin-bottom: 2.4rem;
  }

  .cta-text {
    margin-bottom: 4.8rem;
  }

  .cta-form-grid label {
    margin-bottom: 0.8rem;
  }
  .form-btn{
    margin-top: 2rem;
  }
  
  /* footer */
 
}

/* 816px / 16px = 51em */
@media (max-width: 51em){
  html {
    font-size: 43.75%;
  }
/* header */

/* hero */

/* featured */

/* how */
.how-boxes {
  grid-template-columns: 1fr;
  width: 70%;
}

.how-box-2{
  grid-row: 1;
}
.how-box-6{
  grid-row: 5;
}


/* meals */
.meals-boxes {
  /* column-gap: 2.4rem; */
}

/* testimonials */

/* pricing */
.pricing-plan {
  padding: 3.2rem;
  width: 90%;
  }

.plan-complete::after {
  top: 6%;
  right: -33%;
}

/* cta */

/* footer */
 } 

 /* for smaller tablets and cellphones */
/* 768 / 16 = 48   'FOR SAMSUNG ANDROID A54' */
 @media (max-width: 48em){
  .plan-complete::after {
    top: 6%;
    right: -36%;
  }
 }


 /* 640px / 16px = 40em */
 @media (max-width: 40em){
  /* 6 / 16 = 37.5% */
  html{
    font-size: 37.5%;
  }
  /* header */

  /* hero */
  
  /* featured */
  
  /* how */
  
  /* meals */
  .meals-boxes{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 6.4rem;
    margin: 0 6.4rem;
  }

  .meal-1 {
    grid-column: 1;
  }

  .meal-2 {
    grid-column: 2;
  }

  .meal-diets{
    grid-column: 1 / -1;
    border-radius: 11px;
    column-gap:3.2rem;
    align-items: center;
    justify-self: center;
  }
  
  /* testimonials */
  .testimonials-gallery{
    grid-template-columns: repeat(4, 1fr);
  }
  /* pricing */
  .plan-complete::after {
    top: 6%;
    right: -37%;
  }
  
  /* cta */
  
  /* footer */
 }

 /* 480px / 16px = 30em */
  @media (max-width: 30em){
   html{
     font-size: 31.25%;
   }
   /* header */
   
   /* hero */
   
   /* featured */
   .section-featured .container{
    padding: 0;
  }

  .featured-logos > .featured-logo{
    height: 1.8rem;
  }

   /* how */
   
   /* meals */
  .meals-boxes{
    padding: 0;
  }
   /* testimonials */
   
   /* pricing */
   .plan-box{
    grid-template-columns: 1fr;
  }
  
  .pricing-plan {
    padding: 3.2rem;
    width: 60%;
  }
  
  .grid {
    column-gap: 3.2rem;
  }
  
  .plan-starter, 
  .plan-complete{
    justify-self: center;
  }

  .plan-complete::after {
    top: 8%;
    right: -28%;
  }
  
  .features{
    grid-template-columns: repeat(2, 1fr);
  }
  
  /* cta */
  
  /* footer */
  .footer-cols{
    grid-template-columns: repeat(6, 1fr) !important;
    padding: 0 8rem;
  }
  
  .account-col{
    grid-column: 1 / 3;
    grid-row: 1;
  }
  .company-col{
    grid-column: 3 / 5;
    grid-row: 1;
  }
  
  .recipes-col{
    grid-column: 5 / -1;
    grid-row: 1;
  }
  
  .logos{
    grid-column: 1 / 4;
    grid-row: 2;
  }
  
  .contacts{
    grid-column: 4 / 7;
    grid-row: 2;
  }
}

/*  416px / 16 = 26 */
@media (max-width: 28em){
  /* header */
  /* hero */
  .hero{
    padding: 0 3.2rem;
  }
 
  .hero-img {
    width: 75%;
  }

  /* featured */
  /* how */
  /* meals */
  .meals-boxes{
    margin: 0 3.2rem;
    }

  /* testimonials */
  /* pricing */
  .list-item{
    letter-spacing: 0.1px;
  }

  .plan-complete::after {
    top: 8%;
    right: -30%;
  }

  /* cta */
  /* footer */  
  

}

/* 384px / 16px = 24em */
@media (max-width: 24em){
  /* header */
  /* hero */
  .hero{
    padding: 0 3.2rem;
  }
 
  .hero-img {
    width: 75%;
  }

  /* featured */
  .featured-logo {
    height: 1.2rem;
    justify-content: space-between;
  }
  
  /* how */
  /* meals */
  .delivered-meals{
    gap: 0;
  }
  /* testimonials */
    /* pricing */
  .plan-complete::after {
    top: 7%;
    right: -39%;
  }

  /* cta */
    /* footer */ 
}

/* 368px / 16px = 24em */
 @media (max-width: 23em){
  .plan-complete::after {
    top: 6%;
    right: -38%;
  }
 } */

 /* 
FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 

SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/


/* 1350 / 16 = 84em */

/* @media (max-width: em){ */
/* header */
/* hero */
/* featured */
/* how */
/* meals */
/* testimonials */
/* pricing */
/* cta */
/* footer */
/* } /* 