/* SECTION HERO */
/* .section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.section-title {
  font-size: 5.2rem;
  line-height: 1.1;
  letter-spacing: -0.9px;
  color: #333;
}

.hero-description {
  font-size: 2rem;
  margin-block: 3.2rem 6.4rem;
}

.btn,
.btn:link,
.btn:visited {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  padding: 1.6rem 3.2rem;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.btn--full:link,
.btn--full:visited {
  color: #fff;
  background-color: #e67e22;
}

.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  box-shadow: inset 0 0 0 3.5px #fff;
}

.delivered-meals {
  display: flex;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2.4rem;
  margin-block: 9.6rem 0;
}

.delivered-imgs img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  border: 3px solid #fff;
}

.delivered-imgs img:not(:last-child) {
  margin-right: -2rem;
}

.delivered-text {
  font-size: 1.6rem;
  font-weight: 600;
}

.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}

.hero-img {
  width: 100%;
}

.margin-right-sm {
  margin-right: 2rem;
} */

.section-hero {
  padding: 4.8rem 0 4.8rem 0;
  background-color: #fdf2e9;
}

.hero {
  max-width: 130rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.delivered-meals {
  display: flex;
  margin-block: 12.8rem 0;
  align-items: center;
}

.delivered-imgs img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  border: 5px solid #fff;
}

.delivered-imgs img:not(:last-child) {
  margin-right: -2.4rem;
}

.delivered-text {
  font-weight: 600;
}
.delivered-text span {
  color: #cf711f;
}

.hero-img {
  width: 100%;
}

/* @media (max-width: 120rem) {
  .hero {
    gap: 4.8rem;
  }

  .delivered-meals {
    gap: 0;
  }
} */
