.section-testimonials {
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
  background-color: #fdf2e9;
}

.testimonials-box {
  padding: 9.6rem;
}

/* .testimonials {
  display: grid;
  row-gap: 4.8rem;
  column-gap: 9.6rem;
} */

.testimonial-img {
  width: rem;
  height: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-quote {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.2rem;
  color: #2e1907;
}

.testimonials-gallery {
  display: grid;
  gap: 1.6rem;
  padding: 1.6rem;
}

.testimonial-name {
  color: #706f6f;
}

.gallery-img-box {
  overflow: hidden;
}

.gallery-img-box img {
  display: block;
  width: 100%;
  transition: all 0.3s;
}

.gallery-img-box img:hover {
  transform: scale(1.1);
}

.plan-sign-up {
  margin-bottom: 1.2rem;
}
