html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
  color: #848484;
  color: #333;
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
}

button,
input,
textarea,
select {
  font: inherit;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
}

.cta-box .heading-secondary {
  font-size: 4.4rem;
  margin-bottom: 4.8rem;
  color: #2e1907;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.section-cta {
  margin: 9.6rem 0;
}

.cta-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-image: linear-gradient(to right bottom, #eb984e, #e67a22);
  border-radius: 11px;
  overflow: hidden;
}

.cta-box {
  padding: 4.8rem;
}

.cta-text {
  margin-bottom: 6.4rem;
}

.cta-form-grid label {
  display: block;
  margin-bottom: 1.4rem;
}

.cta-form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.6rem;
  row-gap: 3.6rem;
}

.cta-form-grid input,
.cta-form-grid select {
  padding: 1.2rem;
  width: 100%;
  border-radius: 9px;
  transition: all 0.3s;
}

.cta-form-grid * {
  border: none;
}

.cta-form-grid button {
  background-color: black;
  color: #fff;
  align-self: end;
  padding: 1rem;
  border: none;
  border-radius: 9px;
  transition: all 0.3s;
}

.cta-img-box {
  background-image:
    linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgb(230, 122, 34, 0.35)
    ),
    url("../img/eating.jpg");
  background-size: cover;
  background-position: center;
}

.cta-form-grid input:hover,
.cta-form-grid select:hover,
.cta-form-grid button:hover {
  box-shadow: 0 0 0 4px #ddd;
}
