.footer .grid {
  display: grid;
  gap: 3.6rem;
}

.footer .grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

/* main {
  border-bottom: 1px solid transparent;
} */

.footer {
  /* margin: 9.6rem 0; */
  border-top: 1px solid #ddd;
  padding: 9.6rem 0;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.logo img {
  width: 100%;
}

.logos {
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
}

.footer .nav-link {
  color: #333;
  font-size: 1.4rem;
  font-weight: 500;
  opacity: 0.7;
}

.nav-link ion-icon {
  font-size: 3rem;
  color: #767676;
}

.social .nav-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.copyright {
  align-self: end;
}

address .nav-links,
.nav-col .nav-links {
  list-style: none;
  display: grid;
  gap: 1.6rem;
}

.nav-links li {
  font-size: 1.4rem;
}

address * {
  font-size: 1.4rem;
  font-style: normal;
  text-decoration: none;
}

address {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  gap: 1.6rem;
}

.nav-link {
  text-decoration: none;
  font-size: 1.4rem;
  cursor: pointer;
  align-items: start;
}

.header-title {
  color: #767676;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.footer-text {
  margin-top: auto;
  margin-bottom: 0;
  text-align: center;
}

.footer-text,
address {
  font-size: 1.4rem;
}
